@use "../../scss/" as *;

.movie-card {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 160%;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.69);
    transition: width 0.3s ease;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      width: 100%;
    }
  }
}
